@import "tailwindcss";

:root {
  --background: #0F0E17;
  --foreground: #FFFFFE;
  
  --primary: #FF8906;
  --primary-foreground: #FFFFFE;

  --secondary: #F25F4C;
  --secondary-foreground: #FFFFFE;

  --accent: #2CB67D;
  --accent-foreground: #FFFFFE;
  
  --muted: #A7A9BE;
  --card: #232230;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card: var(--card);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
